* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#btn {
    cursor: pointer;
    margin: 20px 0 0 20px;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 5px;
    background-color: rgb(230, 16, 16);
    color: #fff;
}

#square-wrapper {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    /* width: 256px;
    height: 256px;
    display: flex;
    flex-wrap: wrap; */
    gap: 5px;
}

.square,
.new-square {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: aqua;
    /* aspect-ratio: 1; */
    padding-bottom: 100%;
    padding-right: 100%;
}

.square:nth-child(even) {
    background-color: rgb(166, 206, 206);
}

/* .square:hover {
    cursor: pointer;
    background-color: black;
} */