* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

#btn {
    cursor: pointer;
    margin: 20px 0 0 20px;
    border: none;
    outline: none;
    padding: 13px;
    border-radius: 5px;
    background-color: rgb(230, 16, 16);
    color: #fff;
}

#square-wrapper {
    display: grid;
    grid-template-columns: repeat(16,30px);
    gap: 1px;
    place-content: center;
    
}

.square,
.new-square {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: rgb(188 189 189);
}

.square:nth-child(even) {
    background-color: rgb(229 229 229);
}
